<button mat-mini-fab routerLink="/"><fa-icon [icon]="faArrowLeft"></fa-icon></button>
<div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
  <mat-card style="width: 200px; margin: 0">
    <fa-icon [icon]="faLock"></fa-icon> Login
    <p *ngIf="loginError && loginError.length > 0" style="color: darkred; font-size: x-small">
      <fa-icon [icon]="faExclamationCircle"></fa-icon>
      {{loginError}}
    </p>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayout="row" style="justify-content: space-around; align-items: flex-end">
      <button mat-button style="text-decoration: underline; font-size: x-small;" routerLink="/lostPassword">Forget Password</button>
      <button mat-raised-button color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
