<button mat-mini-fab routerLink="/"><fa-icon [icon]="faArrowLeft"></fa-icon></button>
<div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
  <mat-card style="width: 200px; margin: 0">
    <div *ngIf="!tryingToLoginIn">
      <fa-icon [icon]="faLock"></fa-icon> Login
      <p *ngIf="loginError && loginError.length > 0" style="color: #8b0000; font-size: x-small">
        <fa-icon [icon]="faExclamationCircle"></fa-icon>
        {{loginError}}
      </p>
      <form (ngSubmit)="tryLogin()">
        <mat-card-content>
          <mat-form-field>
            <input matInput name="userName" placeholder="Username" [(ngModel)]="user.username">
          </mat-form-field>
          <mat-form-field>
            <input matInput name="password" placeholder="Password" type="password" [(ngModel)]="user.password">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayout="row" style="justify-content: space-around; align-items: flex-end">
          <button mat-button type="button" style="text-decoration: underline; font-size: x-small;" routerLink="/lostPassword">Forget Password</button>
          <button type="submit" mat-raised-button color="primary">Login</button>
        </mat-card-actions>
      </form>
    </div>
    <div *ngIf="tryingToLoginIn" fxFlexFill fxLayout="column" fxLayoutAlign="center center">
      <h3><fa-icon [icon]="faHandshake"></fa-icon>We are login in, thanks for your patience</h3>
      <h3><mat-spinner></mat-spinner></h3>
    </div>
  </mat-card>
</div>
